body {
    background: #ffffff;
    margin: 0;
    padding: 0;
  }
  
  .container1 {
    position: relative;
    width: 100%;
    height: 70px;
  }
  
  #logo {
    padding-left: 60px;
  }
  
    header  {
    padding-top: 10px;
    min-height: 70px;
  } 
  
  header a {
    color: #180126;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }
  
   .container1 ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }  
  
  a:active {
    color: #072ac8;
  }
  
   header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  } 
  
   header nav {
    float: right;
    margin-top: -60px;
  } 
  
  .container2 {
    background: #514d57;
    padding-left: 15px;
  }
  
  .container2 h1 {
    color: #ffffff;
    margin-top: 0px;
    
  }
  
  .container3 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
  }
  
  .box-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f1f1;
    border-radius: 10px;
    margin: 0em 1em;
    width: 300px;
  }
  
  
  
  .image-content1,
  .image-content2,
  .image-content3,
  .image-content4,
  .image-content5 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
  }
  
  .box-1 h3 {
    color: #004e89;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    height: 90px;
  }
  
  .box-1 p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
  }
  
  
   button {
    position: relative;
    border-radius: 4px;
    background-color: #f82508;
    color: #ffffff;
    height: 30px;
    width: 100px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-left: 90px;
    text-align: center;
  } 
  
  
  
  
  .box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0em 1em;
    border-radius: 10px;
    width: 300px;
    background-color: #f2f1f1;
  }
  
  
  
  .box-2 h3 {
    color: #004e89;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    height: 90px;
  }
  
  .box-2 p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
  }
  
  
  
  .box-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0em 1em;
    border-radius: 10px;
    width: 300px;
    background-color: #f2f1f1;
  }
  
  .box-3 h3 {
    color: #004e89;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    height: 90px;
  }
  
  .box-3 p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
  }
  
  .box-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0em 1em;
    border-radius: 10px;
    width: 300px;
    background-color: #f2f1f1;
  }
  
  .box-4 h3 {
    color: #004e89;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    height: 90px;
  }
  
  .box-4 p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
  }
  
  
  
  .box-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0em 1em;
    border-radius: 10px;
    width: 300px;
    background-color: #f2f1f1;
  }
  
  .box-5 h3 {
    color: #004e89;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    height: 90px;
  }
  
  .box-5 p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #000000;
  }
  
  
  @media screen and  (max-width: 500px ){
    .set{
      display: block;
    }
    .container3 {
      display: block;
      flex-direction: column;
      background-color: white;
      justify-content: space-between;
    }
  }
  