body {
  max-width: 1200vw;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: white;
  height: 70px;
}

.header-img {
  z-index: -1;
  width: 100%;
}

.box-1 {
  border: white;
}

.tech4u {
  margin-top: 10px;
  margin-left: 50px;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: blue;
}

a:active {
  color: blue;
}

.nav {
  color: black;
  margin-left: 900px;
  margin-top: -40px;
  z-index: 100;
  position: absolute;
  padding: auto;
  display: block;
  font-weight: bold;
}

.con-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  text-align: center;
  top: 170px;
  left: 200px;
}

.con-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  align-content: center;
  margin: 50px;
}

.con-2-1 {
  position: relative;
  left: 200px;
}

.con-2-2 {
  position: relative;
  left: 200px;
}

.h1-1 {
  color: #004e89;
  font-family: "Open Sans", sans-serif;
}

.h1-2 {
  color: white;
  align-items: center;
  text-align: center;
  font-size: 54px;
}

.con-1-1 {
  background-color: #004e89;
  height: 70px;
  margin-top: -30px;
}

.h2-1 {
  position: relative;
  color: white;
  text-align: center;
  align-items: center;
  bottom: -20px;
}

.h2-2 {
  color: #004e89;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
  font-size: 28px;
}

.h2-3 {
  color: #004e89;
  text-align: center;
  align-items: center;
  margin-bottom: 100px;
}

.h3-1 {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  padding-top: 0px;
  top: 180px;
  left: 100px;
}

.h3-2 {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  padding-top: 0px;
  top: 180px;
  left: 100;
}

.h3-3 {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  padding-top: 0px;
  top: 180px;
  left: 70px;
}

.h3-4 {
  text-align: center;
  display: grid;
  grid-template-rows: 3fr;
  position: relative;
  right: 70px;
  padding-top: 0px;
}

.sec-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  justify-self: center;
  justify-content: center;
}

.con-3 {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 1fr;
  width: 450px;
  height: 500px;
  position: relative;
  right: -70px;
  top: -100px;
}

.con-4 {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 1fr;
  width: 450px;
  height: 500px;
  position: relative;
  right: -70px;
  top: -100px;
}

.con-5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  position: relative;
  text-align: center;
  bottom: 400px;
  margin-bottom: -300px;
}

.icon-1 {
  width: 75px;
  position: relative;
  left: 120px;
  padding-top: 100px;
}

.icon-2 {
  width: 75px;
  position: relative;
  left: 120px;
  margin-top: auto;
}

.sign {
  color: #f82508;
}

.yt-b {
  color: #004e89;
}

.student-pic {
  z-index: -1;
  width: 100%;
}

.mentor-pic-1 {
  z-index: -1;
  width: 100%;
  margin-top: 50px;
}

.sec-1 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
  color: white;
}

.sec-2 {
  color: white;
}

.ms {
  color: #004e89;
  text-align: center;
  margin-top: 50px;
}

.spotlight {
  position: relative;
  margin-top: 25px;
  left: 180px;
}

.mentor-pic {
  z-index: -1;
  width: 100%;
  width: 300px;
  margin-top: 50px;
  margin-left: 75px;
}

.mentor-card {
  margin-top: 25px;
}

.numbers {
  margin-top: 140px;
  margin-left: 70px;
}

.yt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  position: relative;
  left: 30px;
}

.sec-4 {
  background-color: #004e89;
  height: 500px;
  width: 100%;
}

.sec-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr;
  height: 600px;
}

.h1 {
  color: white;
  font-size: 48px;
}

.h2 {
  color: white;
  align-items: center;
  text-align: center;
  position: relative;
  top: 50px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  margin: 50px;
  position: relative;
  top: 50px;
  justify-items: center;
}

.m-card {
  width: 100%;
}

.f-card {
  width: 100%;
}

.ul-1 {
  position: relative;
  top: 60px;
}

.ul-2 {
  position: relative;
  top: -25px;
}

.but-1 {
  position: relative;
  color: white;
  background-color: #f82508;
  border: none;
  border-radius: 10px 10px 10px 10px;
  height: 50px;
  width: 400px;
  left: 0px;
  cursor: pointer;
}

.but-2 {
  color: white;
  background-color: #f82508;
  border: none;
  border-radius: 10px 10px 10px 10px;
  height: 50px;
  width: 300px;
  cursor: pointer;
}

.but-3 {
  color: white;
  background-color: #f82508;
  border: none;
  border-radius: 10px 10px 10px 10px;
  height: 50px;
  width: 300px;
  cursor: pointer;
}

.but-4 {
  color: white;
  background-color: #f82508;
  border: none;
  border-radius: 5px 5px 5px 5px;
  height: 30px;
  width: 150px;
  position: relative;
  left: 70px;
  cursor: pointer;
}

.but-5 {
  color: white;
  background-color: #f82508;
  border: none;
  border-radius: 5px 5px 5px 5px;
  height: 30px;
  width: 150px;
  position: relative;
  left: 70px;
  cursor: pointer;
}

.but-6 {
  color: white;
  background-color: #f82508;
  border: none;
  border-radius: 5px 5px 5px 5px;
  height: 30px;
  width: 150px;
  position: relative;
  left: 70px;
  cursor: pointer;
}

.but-7 {
  color: white;
  background-color: #f82508;
  border: none;
  border-radius: 5px 5px 5px 5px;
  height: 30px;
  width: 150px;
  position: relative;
  left: 70px;
  cursor: pointer;
}

.but-8 {
  color: white;
  background-color: #f82508;
  border: none;
  border-radius: 5px 5px 5px 5px;
  height: 30px;
  width: 150px;
  position: relative;
  left: 70px;
  cursor: pointer;
}

.but-9 {
  color: white;
  background-color: #f82508;
  border: none;
  border-radius: 5px 5px 5px 5px;
  height: 30px;
  width: 150px;
  position: relative;
  left: 70px;
  cursor: pointer;
}

.but-10 {
  color: white;
  background-color: #f82508;
  border: none;
  border-radius: 10px 10px 10px 10px;
  height: 50px;
  width: 400px;
  position: relative;
  cursor: pointer;
}

.but-11 {
  color: white;
  background-color: #f82508;
  border: none;
  border-radius: 10px 10px 10px 10px;
  height: 40px;
  width: 200px;
  position: relative;
  top: -81px;
  left: 138px;
  cursor: pointer;
}

.Bottom-Image {
  width: 100%;
  z-index: -1;
}

.tech4u-2 {
  margin-left: 50px;
}

.footer {
  background-color: #004e89;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  text-align: center;
  height: 100px;
}

.footer-1 {
  color: white;
  justify-self: start;
}

.footer-2 {
  position: relative;
  left: 50px;
  margin-right: 50px;
  padding: auto;
  display: block;
  font-weight: bold;
}
