@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Open Sans', sans-serif;
  
  overflow: hidden;
}

.webnav {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #FFFFFF;
  height: 70px;
  }

  #home :hover {
    color:#004E89;
  }

  .logo {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 60px;
    
  }

.menu {
  position: relative;
  left: 60%;
}

.menu li {
   float: left;
   list-style: none;
   font-size: 16px;
   color: #180126;
  }

 .menu a {
  font-family: Open Sans;
  text-decoration: none;
  font-size: 16px;
  color: #180126;
  font-weight: 700;
  text-decoration: none;
  padding: 20px;
  line-height: 22px;
 }


 a:hover {
   color:#004E89;
 }

 /*.tech4u {
  position: relative;
  left: 9%;
  height: 25px;
  font-size: 27px;
  font-weight: 700;
  color: navy;
  top: -5px;
 }*/

 /*.tech4u span {
   color: red;
   font-size: 35px;
 }*/
 
 .back-arrow {
  position: absolute;
  display: inline-block;
  left: 600;
  top:50;
   border: solid black;
   border-width: 0 3px 3px 0;
   display: inline-block;
   padding: 2.5px;
  transform: rotate(135deg);
 }

 .backgroup {
  position: absolute;
  display: flex;
  align-items: center;
  left: 660px;
  top: 67px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #180126;
  width: 60px;
 }
 
 .Back {
  margin-left: 10px;
  color: #7E7A8F;
 }


 h1 {
  position: absolute;
  display: inline-block;
  left: 660px;
  top: 90px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #180126;

}

 h2 {
  position: absolute;
  display: inline-block;
  left: 680px;
  top: 135px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: #7E7A8F;
 }
 
 .Container-1 img{
  height: fit-content;
  max-width: 100%;
  width: 630px;
 }
 

 .form-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 560px;
  height: 710px;
  left: 685px;
  top: 175px;
 }
 
@media only screen 
and (min-width: 500px) {
  .mobile-form {
    display: none;
  }
}

 .dropdown {
  position: absolute;
  top: 210px;
  border: none;
}
 
#proficiency {
  border: none;
  color:#5d5388;
  background-color: #E5E5E5;
  width: 240px;
  font-weight: bold;
}

 input {
  background: #E5E5E5;
  height: 40px;
  border: none;
 }

 label {
   display: flex;
   align-items: center;
  color: #5d5388;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.07px;
  margin-bottom: 3px;
  margin-top: 20px;
 }

 #ebox {
  width: 540px;
}
 #fnbox {
   width: 250px ;
 }

 #lnbox {
  width: 250px;
  position: relative;
  }

 #aprofbox {
width: 250px;
}


#pwbox {
  width: 250px;
}

#cpwbox {
  width: 250px;
}

 .topboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toplabels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 368px;
}

.bottomboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottomlabels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 420px;
}

 .agreement {
   position: relative;
   display: flex;
   align-items: center;
   color: #7E7A8F;
   top: 360px;
   right: 538px;
   width: 650px;
   height: 20px;
   white-space: nowrap;
   font-size: 9.5px;
   font-weight: 700;
 }
 
 #agree {
   margin-right: 5px;
 }


 button {
  position: absolute;
  width: 313px;
  height: 50px;
  left: 1px;
  top: 410px;
  background: #F82508;
  border-radius: 5px;
  border-style: none;
  color: rgb(66, 61, 61);
  font-family: Open Sans;
  font-style: normal;
  padding: 15px 32px;
  font-size: 14px;
  line-height: 19px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
}

button, input {
  z-index: 10;
}
 
.login {
  position: relative;
  display: flex;
  align-items: center;
  top: 475px;
  right: 1065px;
  color: #7E7A8F;
  font-size: 12px;
  font-weight: 700;
  width: 606px;
  height: 20px;
  white-space: nowrap;
}

span {
  color:#004E89;
  padding: 3px;
}



@media only screen
 and (max-width: 500px)
 and (max-height: 812px) {

*{
overflow-x: hidden;
}

  body {
    overflow-x: hidden;
    
  }

  .App {
    overflow-x: hidden;
  }

  .form-container {
    display: none;
  }

  .Container-1 img {
    height: 200px;
    max-width: 200px;
    text-align: center;
    position: absolute;
    left: 60px;
    top: 150px;
   
}

.webnav {
  left: -2px;
  overflow-x: hidden;
  
}

h1 {
  top: 90px;
  font-size: 13px;
  left: 90px;
  color:rgb(12, 10, 10)
}

h2 {
  top: 120px;
  left: 65px;
}

.mobile-form  {
  left: 45px;
  position: absolute;
  top: 350px;
  width: 305px;
  overflow: hidden;
  
}



.menu {
  top: 50px;
  left: 30px;
  position: absolute;
}

.menu a {
font-size: 10px;
padding: 10px;
}

.logo {
  top: 5px;
  left: 35px;
}

.backgroup {
  display: none;

}

#agree {
  right: 210px;
    position: absolute;
    top: -5px;
}

.agreement-1 {
  position: relative;
  top: 30px;
  left: 30px;
  width: 200px;
  font-size: 7px;
  right: 10px;
  margin-bottom: 100px;
}



button {
  width: 150px;
  height: 30px;
  font-size: 12px;
  top: 435px;
  left: 50px;
  line-height: 1px;
  margin-bottom: 150px;
}

.login {
  top: -12px;
  left: 30px;
  
}

.dropdown {
  top: 225px;
}

#proficiency {
  width: 250px;
  font-size: 10px;
}

.form {
  position: relative;
  top: 220px;
  left: 20px;
  margin-top: 30px;
}

input {
height: 25px;
}

label {
  font-size: 11px;
  line-height: 15px;
}

#fnbox {
  width: 250px;
}

#lnbox {
  width: 250px;
}

#ebox {
  width: 250px;
}

#aprofbox {
  width: 250px;
}

#pwbox {
  width: 250px;
}


#cpwbox {
width: 250px;
}









}
